<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videoplatform.admin.mapper.VideoTagRelationMapper">
    
    <delete id="deleteByTagId">
        DELETE FROM video_tag_relation WHERE tag_id = #{tagId}
    </delete>
    
    <select id="countByTagId" resultType="int">
        SELECT COUNT(*) FROM video_tag_relation WHERE tag_id = #{tagId}
    </select>
    
</mapper>
